#create-user-form .form-group{
    width: 20%;
    float: left;
    padding: 5px;
}

#create-user-form button{
    width: 30%;
    clear: both;
    float: none;
    display: block;
    margin: 0 auto 20px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.green-msg{
    background-color: green;
    padding-top: 12px;
    padding-bottom: 1px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.red-msg{
    background-color: red;
    padding-top: 12px;
    padding-bottom: 1px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.form-group .error{
    color: red;
    font-weight: bold;
    font-size: 12px;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: transparent;
    border-color: transparent;
}

#create-user-form a.btn.btn-warning{
    width: 30%;
    clear: both;
    float: none;
    display: block;
    margin: 0 auto;
}

body .max-w-7xl{
    max-width: 1400px;
}

.datepicker table tr th,
.datepicker table tr td {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

a.existing-cv{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.dataTables_wrapper .top > .dataTables_info,
.dataTables_wrapper .top > .dataTables_paginate{
    display: none;
}

.dataTables_wrapper .top > .dataTables_length{
    margin-right: 30px;
}


@media screen and (max-width: 1024px){
    #create-user-form .form-group{
        width: 100% !important;
        float: none;
        display: block;
        padding: 5px;
    }

    #create-user-form a.btn.btn-warning,
    #create-user-form button{
        width: 100%;
    }
}
